<div class="container py-3">
  <h1 class="h4 mb-3"><%= t('admin_quiz_games.edit.title') %></h1>
  <%= simple_form_for [:admin, @quiz_game] do |f| %>
    <%= f.input :title, label: t('admin_quiz_games.edit.form.title'), required: true %>
    <%= f.input :description, as: :text, label: t('admin_quiz_games.edit.form.description'), input_html: { rows: 4 } %>
    <%= f.input :points_per_question, as: :integer, label: t('admin_quiz_games.edit.form.points_per_question'), input_html: { min: 1 } %>
    <div class="form-check form-switch mb-3">
      <%= f.input :active, as: :boolean, label: t('admin_quiz_games.edit.form.active'), input_html: { class: 'form-check-input', role: 'switch' } %>
    </div>
    <div class="d-flex gap-2">
      <%= f.button :submit, t('admin_quiz_games.edit.actions.save'), class: 'btn btn-primary' %>
      <%= link_to t('admin_quiz_games.edit.actions.back'), admin_dashboard_path(tab: 'games'), class: 'btn btn-light' %>
    </div>
  <% end %>
</div>
